@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800&display=swap');

:root {
	--text: #130e01;
	--background: #fffaeb;
	--primary: #ff8400;
	--secondary: #fff5d6;
	--accent: #cf4307;
}

.App {
	/* background-color: var(--background); */
	background:
		linear-gradient(45deg, #fffaeb, #fff5d6),
		url(https://grainy-gradients.vercel.app/noise.svg);
	color: var(--text);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.App-Title {
	font-weight: 800;
	text-align: center;
}

.App-Interface {
	width: 80vw;
	margin-left: 10vw;

}

.App-UI {
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}


.Header {
	background-color: var(--primary);
	color: var(--secondary);
	padding: 15px 0;
	text-align: center;

	position: relative;
	z-index: 1;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	padding: 10px
}

.Header-Icon {
	transform: translateY(12px)
}

.Header img {
	max-width: 100%;
	height: auto;
}

.Header-Logo {
	filter: invert(100%);
}


.Title {
	font-size: 2.5rem;
	margin-bottom: 1rem;
	text-align: center;
	font-weight: 800;
}

.fancy-text-gradient {
	background: linear-gradient(45deg, var(--primary), var(--accent));
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;


	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
}

.URL-Input {
	border-radius: 5px;
	border: 1px solid var(--text);
	padding: 12px;
	width: 500px;
	margin-bottom: 20px;
	outline: none;

	margin: 20px;
}

.Language-Input {
	border-radius: 5px;
	border: 1px solid var(--text);
	height: 35px;
	margin-bottom: 20px;
	outline: none;

	margin: 20px;
}

.App-Submit {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;

	height: 35px;

	border-radius: 5px;
	border: 0px solid var(--text);

	background: linear-gradient(45deg, var(--primary), var(--accent));
	color: var(--secondary);

	font-size: 1.2rem;
	font-weight: bold;

	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.App-Submit:hover {
	transition: all 0.2s ease-in-out;
	transform: scale(1.1);

	border-color: var(--accent);
	box-shadow: 0 0 8px rgba(207, 67, 7, 0.4);
}

.App-Submit:active {
	transition: all 0.1s ease-in-out;
	transform: scale(1);

	border-color: var(--accent);
	box-shadow: 0 0 8px rgba(207, 67, 7, 0.6);
}

.URL-Input:focus,
.Language-Input:focus {
	border-color: var(--accent);
	box-shadow: 0 0 8px rgba(207, 67, 7, 0.2);
}

.App-Output {
	margin: 150px;
	margin-bottom: 50px;

	background-color: #fefefe;
	color: var(--text);
	border-radius: 20px;
	padding: 20px;

	border: var(--primary);
	border-style: solid;
	border-width: 1px;
	box-shadow: var(--primary) 0px 0px 3px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	transform: translateY(-300px);
}

.Footer {
	background: #ddd;
	/* Light grey */
	color: var(--text);
	text-align: center;
	padding: 10px;
	font-size: 0.8rem;
}

a {
	color: var(--accent);
}

a:hover {
	color: var(--primary);
}